html {
    font-family: 'Roboto';
    min-height:100%;
    margin: 0rem;
    padding: 0rem;
}

body {
    margin: 0rem;
    padding: 0rem;
    background: linear-gradient(#69D2E7, #8FFF852B 60%);
}

#shopHeader {
    margin: 1rem;
    font-size: 3rem;
    letter-spacing: 0.2em;
    font-weight: 700;
}

#shopSection {
    margin: 8rem 0rem 1rem 0rem;
    padding: 0.1rem;
    background: #f4f4f4;
    text-align: center;
}

#priceSection {
    margin: 3rem 2rem 3rem 2rem;
    padding: 1rem;
    border-radius: 1rem;
    background: #f4f4f4;

    text-align: center;
}

#shopName {
    letter-spacing: 0.2em;
    font-size: 3rem;
    color:#69D2E7;
}

#sendEth {
    font-size: 7rem;
}

#sendYen {
    font-size: 3rem;
}

#sendEth:after {
    content: " ETH";
}

#sendYen:before {
    content: "¥";
}

#paySection {
    margin: 0rem 1rem 0rem 2rem;
    text-align: center;
}

#message {
    font-size: 3rem;
    color: #FA3C00;
}

#pay {
    font-size: 3rem;
    font-weight: 700;
    position: relative;
    display: inline-block;
    padding: 2rem;
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
    letter-spacing: 0.1em;
    border-radius: 0.5rem;
    color: #fff;    
    background-color: #F38630;
    width: 95%;

    margin-top:2rem;
    margin-bottom: 2rem;
    border-style: none;
}

#pay:hover {
    background: #f56500;
    vertical-align: center;
}

#paying {
    margin: 3rem 2rem 3rem 2rem;
    padding: 1rem;
    text-align: center;
    display: none;
}

#messagePaying {
    font-size: 3rem;
}

#payCompleted {
    margin: 3rem 2rem 3rem 2rem;
    padding: 1rem;
    text-align: center;
    display: none;
}

#messageCompleted {
    font-size: 3rem;
}

#accountSection{
    display: flex;
    margin:1rem 3rem 1rem 3rem;
    padding:2rem;
}

#ethSymbol {
    background: white;
    border-radius: 50%;
    object-fit: cover;
    margin-left: 7rem;
    width:5rem;
}

#accountDetail {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 3rem;
    font-size:2rem;
    font-weight: 700;
}

#sample {
    background: url("image/all.png") no-repeat;
    width: 188px;
    height: 225px;
    animation: tada 4s steps(40) forwards;
}

@keyframes tada {
    to{
        background-position: 0 -9000px;
    }
}